@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: 'Geist', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  @apply bg-background-1 text-foreground-main;
}
